* {margin: 0; padding: 0; color: black; list-style: none; text-decoration: none;}
body{ background: rgba(255, 255, 255, 0.8); }
img{vertical-align: middle;}


/* header */
.login{margin:20 20 0 0px; }
.logo{float: left;}
.header {display: flex; justify-content: space-around; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 20%; position: fixed; text-align: center;}
.menu{margin-top: 100px;}
.menu>li {width: 150px; float: left; height: 50px; border-top: 1px solid black;}
.menu>li:hover .sub_menu>li {height: 30px;border-bottom: 1px solid black;text-decoration: double;}
.sub_menu>li {height: 0px; transition: .3s; overflow: hidden;}
.sub_menu2>li {height: 0px;}

/* section */
section{width: 45%; height: 700px; margin-bottom: 200px; position: relative; left: 25%;}
section video{width: 100%; height: 100%; margin-top: 200px;}
section textarea{width: 400px; height: 100px;}
/* footer */
footer{border-top: 1px solid #000; width:100%; height:50px; bottom:0; text-align: center; color: white;}   