* {margin: 0; padding: 0; color: black; list-style: none; text-decoration: none;}
body{ background: rgba(255, 255, 255, 0.8); width: 1200px; margin: 0 auto;}
img{vertical-align: middle;}


/* header */
.header {display: flex; justify-content: space-around; left: 0; right: 0; top: 0; bottom: 0; width: 1200px; height: 20%; position: fixed; text-align: center; margin: 0 auto;}
.sign{height: 16px; width: 200px; }
.sign>li{float: left;}
.sign>li:nth-child(2)::before{content:"|";}
.logo{float: left;}
.menu{margin-top: 100px;}
.menu>li {width: 140px; float: left; height: 50px; border-top: 1px solid black;}
.menu>li:hover .sub_menu>li {height: 30px;border-bottom: 1px solid black;text-decoration: double;}
.sub_menu>li {height: 0px; transition: .3s; overflow: hidden;}
.sub_menu2>li {height: 0px;}

/* content */
.content{margin-top: 200px;}
.content>li{width: 400px; height: 50px;  border-bottom: 1px solid black; position: relative; margin-top: 10px;}
.content>li span{margin-right: 20px;}
.pageConut{display: block; width: 100px; position: relative; top: 10px; left: 45%;}
.pageConut li{float: left; margin-left: 10px;}
.pageConut li:nth-child(1){border-bottom: 1px solid black;}

/* form */
#popup2{position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.8);}
#popup2>div{background: rgba(255, 255, 255, 1); margin: -100px auto; z-index: 10; width: 250px; height: 320px; position: fixed; top: 40%; bottom: 0; left: 0; right: 0; }
#popup2 input{width: 200px; height: 20px; border: 1px solid black; border-radius: 3px; padding: 5px 12px; margin: 0 10px;}
#popup2 input:nth-child(2){margin-top: 30px;}
#popup2 p{text-align: center; font-weight: bold;}
#popup2 .photo{width: 50px; margin: 0 auto;}
#popup2 img{width: 100%;}
#popup2 .line{width: 100%; margin-top: 10px; border: 1px solid rgba(0, 0, 0, 0.7);}
#popup2 .loginLine{margin-bottom: 20px; margin-top: 10px;}
#popup2 button{background: rgba(17, 78, 128, 0.507); border: 0.5px solid green; width: 150px; height: 25px; border-radius: 2px; margin: 3px auto;}
#popup2 button p{color: #fff;}
#popupDiv{border: 1px solid #fff; border-radius: 10px;}
#popup2 .btns{display: flex; flex-direction: column;}
.display-none{display: none;}

/* footer */      
footer{border-top: 1px solid black; width:1200px; height:60px; position:relative; left: 50%; bottom:0; text-align: center; color: white;  margin-left: -600px; z-index: 10; margin-top: 70px;}